<div class="login">
    <form [formGroup]="profileForm" class="custom-form" (ngSubmit)="login()">
      <h1>Login</h1>
      <input
        type="user"
        formControlName="username"
        name="username"
        placeholder="Nombre de Usuario"
        required="required"
      />
      <input
        type="password"
        formControlName="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <button type="submit" [disabled]="!profileForm.valid">Log in</button>
    </form>
  </div>