<section class="hero is-link">
  <div class="hero-body has-text-centered">
    <p class="title">
      Cotizador
    </p>
    <p class="subtitle">
      Bienvenido a tu cotizador en linea!
    </p>
  </div>
</section>

<div class="container is-widescreen">
    <div class="columns">
        <div class="column is-one-quarter">
          <div class="conatiner">
            <section class="section has-text-centered">
              <h1 class="subtitle">Configuracion de cotizacion</h1>
              
            </section>
            <div class="field" [formGroup]="clientSearchForm">
              <label class="label">Clientes</label>
              <div class="dropdown" [ngClass]="{'is-active' : showClientResults}" id="clients-dropdown">
                <div class="dropdown-trigger">
                    <div class="field has-addons">
                        <p class="control is-expanded has-icons-right">
                            <input 
                              class="input"
                              type="search"
                              placeholder="Busca a tu cliente"
                              formControlName="searchClient"
                            />
                            <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
                        </p>
                        <div class="control">
                          <a class="button is-info" (click)="onSearchClient()">
                            Buscar
                          </a>
                        </div>
                    </div>
                </div>  
                <select 
                  formControlName="selectedClient"
                  class="dropdown-content"
                  *ngIf="showClientResults"
                  (click)="onShowClientDetails()"
                >
                  <option *ngFor="let fClients of foundClients" [value]="fClients._id">{{fClients.name}}</option>
                </select>
            </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button 
                  class="button is-link is-light"
                  (click)="activarClientModal()"
                >Agregar nuevo cliente</button>
              </div>
            </div>


            <div class="field" [formGroup]="productSearchForm">
              <label class="label">Productos</label>
              <div class="field has-addons">
                <div class="control">
                  <input 
                    class="input"
                    type="text"
                    placeholder="Busca un producto"
                    formControlName="searchProduct"
                  >
                </div>
                <div class="control">
                  <a class="button is-info" (click)="onSearchProducts()">
                    Buscar
                  </a>
                </div>
              </div>

            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link is-light">Agregar nuevo producto</button>
              </div>
            </div>
            <!-- Propuesta nuevo servicio -->
            <div class="field" [formGroup]="serviceSearchForm">
              <label class="label">Servicios</label>
              <div class="dropdown" [ngClass]="{'is-active' : showServiceResults}" id="service-dropdown">
                <div class="dropdown-trigger">
                    <div class="field has-addons">
                        <p class="control is-expanded has-icons-right">
                            <input 
                              class="input"
                              type="search"
                              placeholder="Busca un servicio"
                              formControlName="searchService"
                            />
                            <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
                        </p>
                        <div class="control">
                          <a class="button is-info" (click)="onSearchServices()">
                            Buscar
                          </a>
                        </div>
                    </div>
                </div>  
                <select 
                  formControlName="selectedService"
                  class="dropdown-content"
                  *ngIf="showServiceResults"
                  (click)="onSelectService()"
                >
                  <option *ngFor="let fService of foundServices" [value]="fService._id">{{fService.name}}</option>
                </select>
            </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button 
                  class="button is-link is-light"
                  (click)="activarClientModal()"
                >Agregar nuevo servicio</button>
              </div>
            </div>

            <br>
            <div class="container has-text-centered">
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-primary">Guardar cotizacion</button>
                </div>
   
              </div>
            </div>


          </div>
        </div>
        <div class="column">
          <section class="section has-text-centered">
            <h1 class="subtitle">Tu cotizacion</h1>
            
          </section>
          <!-- Resultado de cotizacion -->
        <div class="column">
          <div class="columns">
            <div class="column">
             
              <div class="field">
                <label class="label">Porcentaje de ganancia</label>
                <div class="control">
                  <input class="input" type="number" placeholder="Porcentaje de ganancia">
                </div>
              </div>
              <button 
                class="button is-primary" 
              >Actualizar cotizacion</button>

            </div>
            <div class="column">
              <div class="content is-small">
                <h1 class="label">Datos del cliente</h1>
                <p>Nombre: {{selectedClient.name}}</p>
                <p>Correo: {{selectedClient.email}}</p>
                <p>Ubicacion: {{selectedClient.location}}</p>
                <p>Numero: {{selectedClient.phone_number}}</p>
                
              </div>
            </div>
          </div>
          <!-- Resultado de cotizacion -->

          <table class="table">
            <col width="5%" />
            <col width="10%" />
            <col width="27%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="5%" />
            <col width="13%" />
            <thead>
              <tr>
                <th>X</th>
                <th>Nombre de producto</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio Cliente</th>
                <th>Total</th>
                <th>Precio Compra</th>
                <th>Procentaje Ganancia</th>
                <th>Ganancia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of addedProducts">
                <input
                  class="is-checkradio is-circle"
                  [id]="'checkbuttom' + product._id"
                  type="checkbox"
                  (click)="onProductSelected($event, product)"
                />
                <td>{{product.title | slice : 0:20}}</td>
                <td>{{product.title | slice : 20:100}}</td>
                <td>1</td>
                <td>{{product.list_price | currency}}</td>
                <td>{{product.list_price | currency}}</td>
                <td>{{product.discount_price | currency}}</td>
                <td>{{product.discount_price / product.list_price }}</td>
                <td>{{ product.list_price - product.discount_price }}</td>
                
              </tr>

              
            </tbody>
          </table>

          <table class="table">
            <col width="5%" />
            <col width="10%" />
            <col width="27%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="5%" />
            <col width="13%" />
            <thead>
              <tr>
                <th>X</th>
                <th>Nombre de servicio</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio Cliente</th>
                <th>Total</th>
                <th>Precio Compra</th>
                <th>Procentaje Ganancia</th>
                <th>Ganancia</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total</th>
                <th>{{total | currency}}</th>
                <th></th>
                <th>Total Ganancia</th>
                <th>{{revenue | currency}}</th>
              </tr>
            </tfoot>
            <tbody>

              <tr *ngFor="let service of addedServices">
                <input
                  class="is-checkradio is-circle"
                  [id]="'checkbuttom' + service._id"
                  type="checkbox"
                  (click)="onServiceSelected($event, service)"
                />
                <td>{{service.name | slice : 0:20}}</td>
                <td>{{service.description | slice : 0:100}}</td>
                <td>1</td>
                <td>{{service.client_price | currency}}</td>
                <td>{{service.client_price | currency}}</td>
                <td>{{service.real_price | currency}}</td>
                <td>{{service.real_price / service.client_price }}</td>
                <td>{{ service.client_price - service.real_price }}</td>
                
              </tr>   
              
            </tbody>
          </table>
        </div>

      </div>
        
</div>
  
<!-- Modal de cliente nuevo -->
<div class="modal" [ngClass]="{'is-active' : activeNewClient}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Crear un nuevo cliente</p>
      <button class="delete" aria-label="close" (click)="activarClientModal()"></button>
    </header>
    <section class="modal-card-body" [formGroup]="clientCreateForm">
      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input 
            class="input"
            type="text"
            placeholder="Nombre del cliente"
            formControlName="name"
          >
        </div>
      </div>

      <div class="field">
        <label class="label">Correo</label>
        <div class="control">
          <input 
            class="input"
            type="email"
            placeholder="Correo del cliente"
            formControlName="email"
          >
        </div>
      </div>

      <div class="field">
        <label class="label">Ubicación</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Ubicacion del cliente"
            formControlName="location"
          >
        </div>
      </div>

      <div class="field">
        <label class="label">Número telefonico</label>
        <div class="control">
          <input 
            class="input"
            type="tel"
            placeholder="Numero telefonico del cliente"
            formControlName="phoneNumber"
          >
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-light" (click)="crearCliente()">Agregar nuevo cliente</button>
        </div>
      </div>
    </section>

  </div>
</div>



<!-- Modal de productos a buscar -->

<div class="modal" [ngClass]="{'is-active' : showProductsResults}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Selecciona el producto a agregar</p>
      <button class="delete" aria-label="close" (click)="activateProductModal()"></button>
    </header>
    <section class="modal-card-body" [formGroup]="clientCreateForm">
     <div *ngFor="let product of foundProducts">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{product.image}}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{product.title}}</p>
              <p class="subtitle is-6">Stock: {{product.stock_number}}</p>
              <p class="subtitle is-6">Marca: {{product.brand}}}</p>
            </div>
          </div>
      
          <div class="content">
            <p>Precio cliente: {{product.discount_price}}</p>
            <p>Precio real: {{product.list_price}}</p>
            <p>Peso: {{product.weight}}</p>
            <button
              class="button is-primary is-light"
              (click)="addOnQuoter($event, product)"
            >Agregar a cotizacion</button>
            
          </div>
        </div>
      </div>
      <br>
     </div>
    </section>

  </div>
</div>